@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --main-blue-darkness: hsl(217, 19%, 35%);
  --main-blue-dark: hsl(214, 17%, 51%);
  --main-blue: hsl(212, 23%, 69%);
  --main-blue-light: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

body {
  background-color: var(--main-blue-light);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 90vh;
  width: 90%;
}

.article::before {
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  min-height: 50px;
  height: 40%;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--main-blue-dark);
  padding: 1rem 1rem 0;
  height: 60%;
}

.description {
  color: var(--main-blue-darkness);
  font-weight: 700;
  font-size: calc(1rem + 1vw);
  margin-bottom: 1rem;
}

.details {
  font-size: calc(0.7rem + 1vw);
  margin-bottom: 1rem;
  line-height: 1.8rem;
  word-spacing: 0.5rem;
}

.profile {
  align-items: center;
  display: flex;
  width: 100%;
  position: relative;
}

.profile::before {
  background-image: url(images/avatar-michelle.jpg);
  background-size: contain;
  content: "";
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile a {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-decoration: none;
  color: var(--main-blue-darkness);
  font-size: 1.1rem;
  font-weight: bold;
}

.profile a span {
  padding-top: 0.5rem;
  color: var(--main-blue);
  font-size: calc(1rem + 1vw);
}

#btn-share {
  background-color: var(--main-blue-light);
  border: transparent;
  border-radius: 50%;
  box-shadow: 0 0 3px white;
  color: var(--main-blue-dark);
  height: calc(30px + 3vw);
  outline: none;
  position: absolute;
  bottom: 0;
  font-size: calc(1.25rem + 1.5vw);
  right: 0;
  width: calc(30px + 3vw);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

#btn-share.active {
  background-color: var(--main-blue-dark);
  color: var(--main-blue-light);
  box-shadow: 0 0 3px var(--main-blue-dark);
}

#btn-share:active {
  box-shadow: 0px 0px 3px var(--main-blue-dark);
}

#btn-share * {
  pointer-events: none;
}

.share {
  height: 15%;
  background: var(--main-blue-darkness);
  color: white;
  width: auto;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.2s ease;
}

.share.active {
  transform: translateY(0);
}

.media-links span {
  position: relative;
  top: -4px;
  font-size: 1.5rem;
  color: var(--main-blue);
  letter-spacing: 0.5rem;
  margin-left: 1rem;
}

.media-links a {
  color: inherit;
}

@media (min-width: 700px) {
  .article {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 50vh;
    width: 75%;
  }

  .article::before {
    background: url(images/drawers.jpg) center center no-repeat;
    background-size: 30vw 50vh;
    border-radius: 1rem 0 0 1rem;
    height: 50vh;
    width: 40%;
  }

  .text {
    height: 100%;
    width: 60%;
    padding: 3rem;
  }

  .description {
    color: var(--main-blue-darkness);
    font-weight: 700;
    font-size: calc(1.2rem + 1vw);
    margin-bottom: 1rem;
  }

  .details {
    font-size: calc(0.3rem + 1vw);
    margin-bottom: 1rem;
    line-height: 1.5rem;
    word-spacing: 0.5rem;
  }

  .profile a {
    font-size: calc(0.9rem + 0.5vw);
  }

  .profile a span {
    font-size: calc(0.7rem + 0.5vw);
  }

  #btn-share {
    height: calc(20px + 1.5vw);
    font-size: calc(0.2rem + 1.5vw);
    width: calc(20px + 1.5vw);
    z-index: 10;
  }

  .share {
    height: 50px;
    display: flex;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 10;
    top: -30%;
    right: calc(5% - 0.1vw);
    transform: translate(50%, -100%);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: 0;
  }

  .share::after {
    content: "";
    border-top: solid 1rem var(--main-blue-darkness);
    border-left: solid 1rem transparent;
    border-right: solid 1rem transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  .share.active {
    opacity: 1;
    visibility: 1;
    transform: translate(50%, -100%);
  }

  .media-links {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-evenly;
  }

  .media-links span {
    position: relative;
    top: 0;
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: var(--main-blue);
    letter-spacing: 0.5rem;
    margin-left: 1rem;
  }

  .media-links a {
    font-size: clamp(1rem, 4vw, 2.2rem);
  }
}
